*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}
/* ##################################### left aside section ###################################### */

/* #########################  globally appiled #######################*/

li {
  list-style-type: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.remove-categorie,
.add-categorie-btn,
#settings {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.toggle {
  display: none;
  background-color: transparent;
  border: none;
}
.add-circular-btn {
  display: none;
  box-shadow: 0px 0px 3px black;
}
#left-aside-section {
  min-width: 270px;
  width: clamp(270px, 30%, 300px);
  background-color: rgb(93, 93, 244);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.container {
  display: flex;
}
/* ######################### Some changing by events  #######################*/
.light {
  transform: translateX(-4px);
}
.dark {
  transform: translateX(11px);
}
.hidden {
  display: none !important;
}
.profile-settings-section-visible {
  transform: translateX(0px) !important;
}
/* ########################### left-aside-section_first-section ######################### */
.left-aside-section_first-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
#profile-img {
  width: 25px;
}
.profile-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: whitesmoke;
}
#profile-Name {
  font-size: 14px;
}
#mode {
  border: none;
  width: 40px;
  height: 25px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mode-icon-wrapper {
  width: 20px;
  height: 20px;
  background-color: rgb(93, 93, 244);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* ########################### left-aside-section_second-section ######################### */
.left-aside-section_second-section {
  width: 100%;
  display: flex;
  flex-basis: 80%;
}
.add-categorie-btn {
  font-size: 20px;
  color: rgb(229, 227, 227);
}
#Notify-img {
  width: 50px;
}

.categories-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.categories-container-wrapper {
  width: 100%;
}
.categories-additionbtn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 18px;
  color: white;
}
.categories-container {
  width: 100%;
  display: flex;
  padding-inline: 18px;
  padding-block: 8px;
  color: rgb(229, 227, 227);
}
.categorie-text-wrapper {
  display: flex;
  gap: 15px;
  /* gap: 100px; */
  color: rgb(229, 227, 227);
}
.categorie-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.categories-container-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}
.remove-categorie {
  margin-left: 50px;
  transition: all 250ms ease-in-out;
}
.categories-container:hover .remove-categorie {
  margin-left: 0px;
}
.categorie-input {
  background-color: transparent;
  border: none;
  color: rgb(229, 227, 227);
}
.categorie-note-length {
  background-color: rgb(70, 70, 226);
  padding-inline: 5px;
  padding-block: 3px;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
}
.categories-container-wrapper::-webkit-scrollbar {
  display: none;
}
.categories-container-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.categories-container:hover {
  background-color: rgb(62, 62, 197) !important;
}
.categories-container:active {
  background-color: rgb(62, 62, 197) !important;
}
.categorie-input {
  width: clamp(99px, 100%, 199px);
}
/* @media (max-width: 520px) and (min-width: 398px) {
  .remove-categorie {
    margin-left: 100px;
  }
} */
/* ########################### left-aside-section_third-section ######################### */

.left-aside-third-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 18px;
  padding-block: 20px;
  color: white;
}
.webApp-Name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.webApp-img-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.settings-img {
  width: 25px;
}

/* ########################### profile-settings-section ######################### */

#UserPic {
  display: none;
}
#UserPic-img {
  width: 50px;
  cursor: pointer;
}
#UserPic-label {
  position: relative;
  cursor: pointer;
}
#UserPic-label::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: 5px;
  background: url("../src/editbutton.png");
  background-position: center;

  background-size: 10px;
  background-repeat: no-repeat;
}
#UserPic-label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: rgb(70, 70, 226);
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: 5px;
}
.profile-settings-section_upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-btn {
  background-color: transparent;
  border: none;
}
.profile-settings-section_middle-section_detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.messages-section::before {
  content: attr(data-vaild);
  left: 5px;
  bottom: -10px;
  position: absolute;
  width: 100%;
  height: 20px;
  color: rgb(56, 193, 56);
  display: none;
}
.messages-section::after {
  content: attr(data-error);
  position: absolute;
  left: 5px;
  bottom: -10px;
  width: 100%;
  height: 20px;
  color: red;
  display: none;
}

.profile-settings-section_middle-section_detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile-settings-section_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.Save-btn {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.profile-settings-section_middle-section_detail-inputs {
  padding: 5px;
}

.profile-settings-section_middle-section_detail-inputs:user-valid:not(
    :placeholder-shown
  )
  + .messages-section::before {
  display: block;
}
.profile-settings-section_middle-section_detail-inputs:invalid:not(
    :placeholder-shown
  )
  + .messages-section::after {
  display: block;
}

.profile-settings-section {
  position: absolute;
  width: 100%;
  background-color: rgb(93, 93, 244);
  height: inherit;
  transform: translateX(300px);
}

/* ########################### MEDIA ###################### */
@media (max-width: 532px) {
  #left-aside-section {
    position: absolute;
    top: 0;
    left: -280px;
    z-index: 999;
  }
  .left-aside-section-open {
    left: 0px !important;
  }
  .toggle {
    display: block !important;
  }
  .remove-categorie {
    margin-left: 110px;
  }
  main {
    width: 100% !important;
  }
  .add-circular-btn {
    display: block !important;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(93, 93, 244);
    font-size: 20px;
    border: 3px solid whitesmoke;
    z-index: 800;
    cursor: pointer;
  }
}
@media (min-width: 532px) and (max-width: 584px) {
  .remove-categorie {
    margin-left: 0 !important;
  }
}
/* ##################################### left aside section ###################################### */

/* #################### main ######################### */

/*######################## main-first-section ############# */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-block: 10px;
  padding-top: 20px;
}
.header-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

/* ########################################  main-second-section ################################ */

select {
  border: none;
}
details,
summary {
  cursor: pointer;
}
summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}
.sorting-btn-container {
  display: flex;
  gap: 5px;
}
.main-second-section_first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort-btns-imgs {
  width: 16px;
}
.main-second-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-inline: 20px;
  padding-block: 10px;
}
.search-input,
.add-Note-btn {
  padding: 8px;
}
.search-input {
  font-size: 16px;
  width: 100%;
}
.add-Note-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: rgb(93, 93, 244);
  color: white;
  border: none;
}
.add-Note-btn:hover {
  background-color: rgb(70, 70, 226);
}
.add-Note-btn_plus-icon {
  font-size: 18px;
}
/* #########################################  main-third-section ################################# */

.note-upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: greenyellow;
}
.importent-level {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.note {
  /* width: 326px;
  width: 35%; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-inline: 20px;
  padding-block: 15px;
}
.note:hover {
  background-color: rgb(232, 232, 232);
}
.note:active {
  background-color: rgb(232, 232, 232);
}
.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.note-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main-third-section {
  overflow-y: scroll;
}
main {
  width: calc(100% - 270px);
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  background-color: rgb(245, 245, 245);
}
details {
  position: relative;
}
.sort-value-container {
  position: absolute;
  left: -50px;
  background-color: white;
  box-shadow: 0px 0px 3px black;
  z-index: 700;
}
.sort-value-container > * {
  padding-block: 5px;
  padding-inline: 10px;
}
.sort-value-container > *:hover {
  background-color: rgb(232, 232, 232);
}
.search-input {
  padding-right: 45px;
}
.search-btn {
  position: absolute;
  right: 0;
  padding: 8px;
  height: 37.6px;
  width: 37.6px;
  cursor: pointer;
}
.search-btn-pic {
  width: 20px;
}
.search-input-container {
  position: relative;
}
.cover {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
main {
  flex-grow: 1;
}
@media (min-width: 1024px) {
  main {
    min-width: 390px;
    flex-grow: 0;
  }
  .bar {
    width: 10px;
    background-color: grey;
  }
  #right-aside-section {
    min-width: 300px;
    flex-grow: 1;
    background-color: green;
  }
}
